<%= render 'shared/page_title', title: "All Methods" %>

<h1>Do You have An Method that you want to get funded?</h1>

<p> TheMarketHub.com will help you fund and method, build a following and market your method out to the world!</p>
<hr/>

<ul class="nav nav-tabs">
    <li class='active'>
      <%= link_to "Methods", methods_path %>    
    </li>
    <li>
      <%= link_to "Marketers", marketers_path %>
    </li>
</ul>

<%= will_paginate %>

<% @methods.each do |method| %>
    <div class="row">
        
        <div class="col-md-2">
            <section class="marketer_info center">
                <%= link_to gravatar_for(method.marketer, size: 100), marketer_path(method.marketer) %>
               <h5>Marketer name: <%= method.marketer.marketername %></h5>
            </section>
        
        </div>
        
        <div class="col-lg-6 well">
            <h4><%= link_to method.name, method_path(method) %></h4>
            <p><%= method.summary %></p>
            <p>Verticals: <%= render method.verticals %></p>
            <p>Solutions: <%= render method.solutions %></p>
                <span class='quiet'><small> created: <%= time_ago_in_words(method.created_at) %> ago, </small></span>
                <span class='quiet'><small> updated: <%= time_ago_in_words(method.created_at) %> ago</small></span>
            </p>
            <div class="pull-right">
        <%= link_to like_method_path(method, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= method.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_method_path(method, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= method.thumbs_down_total %>
        <% end %>
      </div>
        </div>
        <div class- "col-md-4">
                <%= image_tag(method.picture.url, size: "250x150", class: "gravatar") if method.picture? %>
        </div>
    </div>
    <hr/> 
<% end %>

<%= will_paginate %>